html {
  background: url(/css/img/space02.jpg) no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: 140%;
}


body {
    margin: 0 auto;
    font-family: stratos, sans-serif;
    color: #fff;
}

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 110px;
    display: flex;
    justify-content: space-between;

}

.online-users{
    margin-top: 32px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.online-users p {
    color: #ff0000;
    margin-right: 27px;
}

.chat-messages {
    height: 300px;
    overflow-y: scroll;
}

.logo{
    margin: 61px 0 0 38px;
}

.strapline {
    margin: 34px 0 0 57px;
}

.navbar {
    text-decoration: none;
    display: flex;
    height: 47px;
    margin-right: 40px;
    margin-top: 80px;
}

.navbar img {
    margin-left: 10px;
}



nav ul {
    list-style-type: none;
    font-size: 1.3rem;
    text-decoration: none;

}

nav ul > a:link {
    text-decoration: none;
}

nav ul > a:visited {
    text-decoration: none;
}

   .navbutton {
    margin: 0 4px 0 4px;
       background-color: white;
    border:1px solid #3A44A0;
   	-moz-border-radius:6px;
   	-webkit-border-radius:6px;
   	border-radius:6px;
   	display:inline-block;
   	cursor:pointer;
   	color: #3A44A0;
   	font-family: stratos, sans-serif;
   	font-size:15px;
   	font-weight:bold;
   	padding:10px 33px;
   	text-decoration:none;

}

.bio-title {
    display: inline-block;
    color: white;
    width: 456px;
}

.bio-left {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.biocenter {
    display: flex;
    flex-direction: column;
    margin-top: 81px;
    margin-left: -123px;
}

.otherbiocenter {
    display: flex;
    flex-direction: column;
    margin-top: 81px;
    margin-left: 23px;

}



.bioright {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.component-outer-wrapper {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(119, 73, 150,0.95)), color-stop(1, rgba(71, 51, 83,0.97)));
    background-color: white;
    border: 1px solid white;
 background:-moz-linear-gradient(top, rgba(119, 73, 150,0.96) 5%, rgba(71, 51, 83,0.97) 100%);
 background:-webkit-linear-gradient(top, rgba(119, 73, 150,0.96) 5%, rgba(71, 51, 83,0.97) 100%);
 background:-o-linear-gradient(top, rgba(119, 73, 150,0.96) 5%, rgba(71, 51, 83,0.97) 100px);
 background:-ms-linear-gradient(top, rgba(119, 73, 150,0.96) 5%, rgba(71, 51, 83,0.97) 100%);
 background:linear-gradient(to bottom, rgba(119, 73, 150,0.96) 5%, rgba(71, 51, 83,0.97) 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(119, 73, 150,0.95)', endColorstr='rgba(71, 51, 83,0.97)',GradientType=0);
    border-radius:10px;
    position: relative;
    top: 34px;
    left: 50px;
    padding: 4px 50px 78px 50px;
    max-width: 50%;
    min-width: 770px;
    max-height: 90%;
}



/* .component-outer-wrapper > * {
    border: 1px solid black;

} */

.component-inner-wrapper {
display: flex;
}

.smallimage .profile-img-container{

    width: 60px;
    height: 60px;
    cursor: pointer;
}

.smallimage .profile-img-container > img{
    object-fit: cover;
    cursor: pointer;
}

.bigimage {
    max-width: 300px;
    margin-bottom: 20px;
}

.bigimage .profile-img-container{
    width: 300px;
    height: 300px;
}

.bigimage .profile-img-container > img{
    object-fit: cover;
}

.profile-img-container {
    display: flex;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.chat-img-container {
    display: flex;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.chat-img-container p {
    align-self: center;
    margin-left: 10px
}

.chat-img-container > img {
    border-radius: 100%;
    width: 100%;
     height: 100%;
    object-fit: cover;
}

.profile-img-container > img {
    border-radius: 100%;
    width: 100%;
     height: 100%;
    object-fit: cover;
}

.friends-list {
    display: flex;
}

.uploader-modal-wrapper {
    display: flex;
    justify-content: center;
    background-color: #161138;
}

.uploader-modal {
    position: fixed;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16%;
    width: 620px;
    height: 200px;
    z-index: 5;
    /* border: 1px solid #fff; */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(119, 73, 150,0.95)), color-stop(1, rgba(71, 51, 83,0.97)));
    background-color: white;
    border: 1px solid white;
 background:-moz-linear-gradient(top, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100%);
 background:-webkit-linear-gradient(top, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100%);
 background:-o-linear-gradient(top, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100px);
 background:-ms-linear-gradient(top, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100%);
 background:linear-gradient(to bottom, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(119, 73, 150,0.95)', endColorstr='rgba(71, 51, 83,0.97)',GradientType=0);
 -moz-border-radius:6px;
 -webkit-border-radius:6px;
 border-radius:6px;

    /* width: 400px; */
}

.user {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.online-users-modal-wrapper {
    position: fixed;
    right: 305px;
    background-color: #161138;
}

.online-users-modal {
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 162px;
    width: 280px;
    z-index: 7;
    /* border: 1px solid #fff; */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(119, 73, 150,0.95)), color-stop(1, rgba(71, 51, 83,0.97)));
    background-color: white;
    border: 1px solid white;
 background:-moz-linear-gradient(top, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100%);
 background:-webkit-linear-gradient(top, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100%);
 background:-o-linear-gradient(top, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100px);
 background:-ms-linear-gradient(top, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100%);
 background:linear-gradient(to bottom, rgba(57, 66, 174,0.96) 5%, rgba(27, 23, 64,0.97) 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(119, 73, 150,0.95)', endColorstr='rgba(71, 51, 83,0.97)',GradientType=0);
 -moz-border-radius:6px;
 -webkit-border-radius:6px;
 border-radius:6px;

    /* width: 400px; */
}

.online-users-modal p {
    line-height: 0px;
}


.closeModal {
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    color: white;
}

.findUsersGrid {
    display: grid;
     grid-template-columns: 200px 200px 200px 200px 200px 200px;
     grid-row-gap: 20px;
     grid-column-gap: 20px;
}

.grid-image-container {
    width: 200px;
    height: 200px;
}

.findUsersGrid img {
    object-fit: cover;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.grid-text-container {
    display: flex;
    justify-content: center;
    background-color: #CA5AB1;
}

.chat-user {
    height: 30px;
}

.welcome-logo {
    width: 50%;
}

.welcome-wrapper {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome-wrapper h1, h2 {
    color: #EC4B6A;
}

.welcome-nav {
    display: flex;
}

.welcome-forms {
    margin-top: 25px;
}

.users-online-text {
    cursor: pointer;
}

.search-input {
    margin-left: 57px;
    margin-top: 60px;
}

.search-input h2 {
    margin: 0
}

.just-joined {
    background-color: #3b48a9;
    width: 194px;
    padding: 5px 2px 5px 4px;
}

.bio-header {
    color: white;
}

.friend-button {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}
